html{
  margin:0;
  padding:0;
  font-family: Montserrat;
  background-color:#A0CFEC;
}

body{
  margin:0;
}

img{
  width:25%;
  height:100vh;
  animation-name: img-glide;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.container{
  display:inline-block;
  line-height: 1;
  backdrop-filter: blur(40px);
  border: 2px solid transparent;
  padding: 2%;
  border-radius: 30px;
  background-clip: padding-box;
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.25);
  position:absolute;
  top:20%;
  left:15%;
  animation-name: glide;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.head{
font-size: 100%;
font-weight: bold;
}

.para{
  font-size: 70%;
  font-weight:normal;
}

.banner{
  position: absolute;
  top:45%;
  left:15%;
  display: inline-block;
  font-size: 135%;
  font-weight: bolder;
  animation-name: glide2;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes glide {
  from{
    transform: translateX(-100px);
    backdrop-filter: blur(0);
  }
  to{
    transform: translateX(0);
    backdrop-filter:blur(40px);
    opacity: 1;
  }
}
@keyframes glide2 {
  from{
    transform: translateX(-100px);
    opacity:0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes img-glide {
  from{
    transform: translateX(-400px);
  }
  to{
    transform: translateX(0);
  }
}

@media (max-width:1200px){
  img{
    display: inline-block;
    width:100%;
    height:100vh;
  }
  .head{
    font-size: 150%;
  }
  .para{
    font-size: 100%;
  }
  .banner{
    font-size: 200%;
  }
}

@media (max-width:540px){
  img{
height: 100vh;
  }

  .container{
    left:3%;
  }
  .head{
    font-size: 90%;
  }
  .para{
    font-size: 70%;
  }
  .banner{
    font-size: 100%;
    left:3%;
  }
}
